pkgbase = infinix-mecha-bar
	pkgdesc = Unofficial Linux CLI for Infinix GT Book rear Mecha bar (UART)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/sanidhyy/infinix-gtbook-mecha-bar
	install = infinix-mecha-bar.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pyserial
	options = !strip
	source = infinix-gtbook-mecha-bar-0.1.0.tar.gz::https://github.com/sanidhyy/infinix-gtbook-mecha-bar/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = a9f77d5f385cbbcb2da839c969993162ef69d9dbe837eba03aca476a22abc628

pkgname = infinix-mecha-bar
